@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #2c2c2c;
}

@media screen and (min-width: 860) {
    body h1 {
        font-size: 1rem;
    }
}

input::-webkit-input-placeholder {
    font-family: 'Noto Sans JP', sans-serif;
}

input:-ms-input-placeholder {
    font-family: 'Noto Sans JP', sans-serif;
}

input::-ms-input-placeholder {
    font-family: 'Noto Sans JP', sans-serif;
}

input::placeholder {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
    color: #525252;
}

img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

h3 {
    color: gray;
    font-weight: 200;
    font: size 0.7rem;
}

h3 span {
    color: #222222bb;
    font-weight: 800;
}

h1 {
    font-weight: 400;
    color: #222222bb;
}

h1 span {
    color: #2c2c2c;
    font-weight: 800;
}

.image-container p {
    font-size: 0.7rem;
}

nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    margin: 0 5%;
    padding-top: 1rem;
}

nav .logo {
    width: 40px;
}

nav .navigation {
    text-align: right;
    line-height: 3;
}

nav .navigation a {
    margin-left: 1rem;
}

main .header {
    background-image: url("images/main_imgae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 1.5rem;
}

@media screen and (min-width: 860px) {
    main .header {
        height: 500px;
    }
}

main .header-container-1 {
    position: relative;
    height: 250px;
}

@media screen and (min-width: 860px) {
    main .header-container {
        width: 50%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background: #ffffff;
        position: absolute;
    }
}

main .double-col {
    display: -ms-grid;
    display: grid;
}

@media screen and (min-width: 860px) {
    main .double-col {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 860px) {
    main .triple-col {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}

main .header-container {
    margin: 1rem 0;
}

.btn-container {
    padding: 3rem 0;
    text-align: center;
}

.btn-container .btn {
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    font-size: 1.1rem;
    border: rgba(128, 128, 128, 0.623) 1px solid;
}

form input {
    border: rgba(128, 128, 128, 0.623) 1px solid;
    border-right: none;
    padding: .6rem 1rem;
    outline: none;
}

form button {
    padding: .6rem 1rem;
    background: none;
    border: none;
    border: rgba(128, 128, 128, 0.623) 1px solid;
}

footer {
    text-align: center;
    padding: 2rem 0;
}


/*# sourceMappingURL=main.css.map */